* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 14px;

}

#root {
  height: 100vh;
  width: 100vw;
  background-color: #191919;
  color: #858585;
}

body {
  background-color: #191919;
}

.app-container {
  display: flex;
  width: 100%;
  height: 100%;
}

/* SIDEBAR-SECTION */
.sidebar-section {
  flex: none;
  display: flex;
  flex-direction: column;
  width: 300px;
  min-width: 300px;
  height: 100%;
}

.sidebar-section> :first-child {
  flex: 1;
  min-height: 0;
}

/* MESSAGES-SECTION */
.message-section {
  flex: 1;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.resizer {
  width: 3px;
  /* El grosor del área donde puedes hacer clic */
  min-width: 3px;
  border: none;
  cursor: col-resize;
  /* Cambia el cursor a las flechas de cambio de tamaño */
  border-left: 1px solid #858585;
  /* Un gris oscuro para que combine */
  transition: background-color 0.5s;
}

.resizer:active {
  background-color: #858585;
}

/* --- SCROLLBAR MINIMALISTA GLOBAL --- */

/* Para Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #858585 transparent;
}

/* Para navegadores basados en Webkit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 6px;
  /* Ancho de la barra vertical */
  height: 6px;
  /* Alto de la barra horizontal */
}

/* El fondo por donde corre la barra */
::-webkit-scrollbar-track {
  background: transparent;
}

/* El botoncito que arrastras */
::-webkit-scrollbar-thumb {
  background: #858585;
  /* Gris suave semi-transparente */
  border-radius: 10px;
  /* Bordes totalmente redondeados */
  transition: background 0.3s ease;
}

/* Cuando pasas el mouse por encima del botoncito */
::-webkit-scrollbar-thumb:hover {
  background: #858585;
  /* Se oscurece ligeramente */
}